.hero-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px 5px;
    padding-left: 15%;
    cursor: default;
}

.hero-item:hover {
    background-color: rgb(205, 205, 205);
}

.hero-item:active {
    background-color: rgb(215, 215, 215)
}

.hero-image-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.hero-image {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.hero-info-container {
    width: 70%;
}

.hero-hero-class {
    font-weight: bold;
    font-size: 2em;
}

.S {
    color: rgb(0, 0, 255);
}

.A {
    color: rgb(0, 255, 0);
}

.B {
    color: rgb(255, 150, 40);
}

.C {
    color: rgb(255, 0, 0);
}