#hero-list-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 50px;
}

#hero-list-header {
    background-color: white;
    width: 45%;
    height: 4%;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

#hero-list {
    display: flex;
    flex-direction: column;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 45%;
    border: 1px solid black;
    border-top: none;
    align-items: center;
    background-color: white;
}

#hero-controls {
    width: 45%;
    height: 3%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 30px;
}

.hero-control-button {
    background-color: rgb(128, 128, 255);
    color: rgb(250, 250, 240);
    font-size: 1.25em;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.hero-control-button:active {
    background-color: rgb(100, 100, 230);
}